{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

<div class="interior-image" style="background:url({{ .Site.Data.design.sub_image }}) no-repeat bottom;background-size: cover;height: 30vh">
    <h2>{{ .Title }}</h2>
</div>
{{ block "main" . }}

{{ end }}
{{ partial "footer.html" . }}

Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, nulla cupiditate. Architecto quis sit aliquid aspernatur quos quas. Distinctio expedita amet praesentium reprehenderit tempora voluptatem commodi magnam porro culpa? Dolore?