{{ define "main" }}
<div class="section" id="aboutpage__container">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-half is-offset-one-quarter">
                {{ if .Params.aboutpage_subtitle }}<h4>{{ .Params.aboutpage_subtitle }}</h4>{{ end }}
                {{ if .Params.aboutpage_title }}<h2>{{ .Params.aboutpage_title }}</h2>{{ end }}
                {{ if .Params.aboutpage_top_content }}<p>{{ .Params.aboutpage_top_content }}</p>{{ end }}
            </div>
        </div>
        <div class="section">
            <div class="container">
                <hr>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="about-column">
                            <h4 class="title is-4">New to the water?</h4>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem repudiandae distinctio ipsum officiis asperiores repellat eos esse, cum quo molestias exercitationem dolore laborum ipsam quas reprehenderit porro nesciunt quos adipisci.</p>
                        </div>                    </div>
                    <div class="column">
                        <div class="about-column">
                            <h4 class="title is-4">New to the water?</h4>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem repudiandae distinctio ipsum officiis asperiores repellat eos esse, cum quo molestias exercitationem dolore laborum ipsam quas reprehenderit porro nesciunt quos adipisci.</p>
                        </div>                    </div>
                    <div class="column">
                        <div class="about-column">
                            <h4 class="title is-4">New to the water?</h4>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem repudiandae distinctio ipsum officiis asperiores repellat eos esse, cum quo molestias exercitationem dolore laborum ipsam quas reprehenderit porro nesciunt quos adipisci.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="columns">
                    {{ with .Params.image_and_text_row }}
                    <div class="column">
                        <div class="aboutpage-img-container">
                            <img src="{{ .aboutpage_photo }}" alt="{{ .aboutpage_image_alt_tag }}">
                        </div>
                    </div>
                    {{ end }}
                    <div class="column">
                        <div class="aboutpage-content content">
                            {{ .Params.image_and_text_row.aboutpage_imagecontent| markdownify }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}