{{ define "main" }}

<div class="section" id="contactpage__container">
        <div class="section">
            <div class="container">
                <div class="columns">
                  <div class="column">
                    <img src="{{ .Params.contact_image }}" alt="">
                  </div>
                    <div class="column">
                        <div class="contact-content">
                            <h1 class="title is-3" style="text-transform: uppercase;">Superior Service</h2>
                            <p class="content">I aim to provide a superior quality of service to my clients</p>
                            {{ $profilecontact := .Site.Data.profile.primary_contact }}
                            {{ $profileaddress := .Site.Data.profile.address }}
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i>{{ $profileaddress.address }} {{ $profileaddress.city }}, {{ $profileaddress.state }} {{ $profileaddress.zip_code }}</li>
                                <li><i class="fas fa-mobile-alt"></i>{{  $profilecontact.phone_number }}</li>
                                <li><i class="far fa-envelope"></i>{{  $profilecontact.email }}</li>
                            </ul>
                        </div>
                        <div class="column contactpage-form">
                          <div class="field">
                              <label class="label">Name</label>
                              <div class="control">
                                <input class="input" type="text">
                              </div>
                            </div>
                            
                            <div class="field">
                              <label class="label">Email</label>
                              <div class="control has-icons-left has-icons-right">
                                <input class="input" type="email">
  
                              </div>
                            </div>
                            
                            <div class="field">
                              <label class="label">Message</label>
                              <div class="control">
                                <textarea class="textarea"></textarea>
                              </div>
                            </div>
                            
                            <div class="field is-grouped">
                              <div class="control">
                                <a href="" class="button">Submit</a>
                              </div>
                            </div>
                      </div> <!-- end first column-->
                    </div> <!-- end second column-->
                </div>
            </div>
        </div>
</div>

{{ end }}